.group {
	position: relative;
	display: flex;
	flex-direction: column-reverse;
	align-items: flex-start;
	width: fit-content;
}

.group.fill {
	width: 100%;
}

.input {
	box-sizing: border-box;
	border: none;
	font-size: 16px;
	font-weight: 600;
	padding: 12px 0;
	border-bottom: 1px solid var(--grey-color);
	max-height: 46px;
	width: 100%;
	background-color: transparent;
}
.input::placeholder {
	color: var(--grey-color);
}
.input:focus {
	outline: none;
}
.group.active .input,
.input:focus {
	border-bottom: 2px solid var(--purple-color);
}

.label {
	font-size: 14px;
	font-weight: 500;
	color: var(--grey-color);
	cursor: pointer;
}
.group.active .label,
.input:focus + .label {
	color: var(--purple-color);
}
